<div class="col-lg-6 container">
    <h2>{{title}}</h2>

  <div class="col-lg-10">
    <p>
      <label><b>Seleccionar Local</b></label>
      <!--Listado de locales -->
      <select *ngIf="listaLocales" name="locales" #locales="ngModel" [(ngModel)]="localID" class="form-control" required>
        <option *ngFor="let listaLocal of listaLocales" value="{{listaLocal._id}}">{{listaLocal.nombre}}</option>
      </select>
    </p>
    <button class="btn btn-secondary" (click)="obtenerSolicitudesLocalAprobadas(pagina,localID)"> Mostar Horarios</button>

  </div>


  <div id="solicitudes" *ngIf="solicitudes">
    <div *ngFor="let solicitudList of solicitudes" class="item-solicitud">

      <div class="card my-4">
        <div class="card-header">
          <h3>{{solicitudList.nombre_actividad}}</h3>
        </div>
        <div class="card-body">
          <p class="card-text">
            <b>Correlativo:</b> {{solicitudList.correlativo}}</p>
          <p class="card-text">
            <b>Hora y Fecha de Inicio:</b> {{ (solicitudList.inicio_evento | amFromUnix) | amLocale:'es' | amDateFormat:'MMMM
            Do YYYY, h:mm:ss a'}}</p>
          <p class="card-text">
            <b>Hora y Fecha de Fin:</b> {{ (solicitudList.fin_evento | amFromUnix) | amLocale:'es' | amDateFormat:'MMMM Do YYYY,
            h:mm:ss a'}}</p>
          <p class="card-text">
            <b>Responsable de la Actividad:</b> {{solicitudList.responsable_actividad}}</p>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="!solicitudes.length">
    <h2>Lo sentimos, no encontramos ninguna solicitud {{solicitudes}}</h2>
  </div>

</div>
