<div class="col-lg-6">
  <h1>{{title}}</h1>

  <div class="alert alert-success" *ngIf="status == 'Correcto'">
    Registro completado correctamente
    <a [routerLink]="['/login']">Identificate aqui</a>
  </div>

  <div class="alert alert-danger" *ngIf="status != 'nada' && status != 'Correcto'">
    {{status}}
  </div>

  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-10">
    <p>
      <label>Nombre</label>
      <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" class="form-control" required />
      <span *ngIf="!nombre.valid && nombre.touched">
        El nombre es obligatorio
      </span>
    </p>

    <p>
      <label>Apellido</label>
      <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellido" class="form-control" required />
      <span *ngIf="!apellido.valid && apellido.touched">
        El apellido es obligatorio
      </span>
    </p>

    <p>
      <label>Departamento o Sección</label>
      <input type="text" name="departamento_seccion" #departamento_seccion="ngModel" [(ngModel)]="user.departamento_seccion" class="form-control"
        required />
      <span *ngIf="!departamento_seccion.valid && departamento_seccion.touched">
        La sección o departamiento es obligatorio
      </span>
    </p>

    <p>
      <label>Usuario</label>
      <input type="text" name="usuario" #usuario="ngModel" [(ngModel)]="user.usuario" class="form-control" required />
      <span *ngIf="!usuario.valid && usuario.touched">
        El usuario es obligatorio
      </span>
    </p>

    <p>
      <label>Correo</label>
      <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />

      <span *ngIf="!email.valid && email.touched">
        El email es obligatorio
      </span>
    </p>

    <p>
      <label>Contraseña</label>
      <input type="password" name="contrasena" #contrasena="ngModel" [(ngModel)]="user.contrasena" class="form-control" required
        pattern="[A-Za-z0-9]+" />

      <span *ngIf="!contrasena.valid && contrasena.touched">
        La contraseña tiene que ser compuesta por numeros o letras
      </span>
    </p>

    <input type="submit" value="{{btn_registro}}" class="btn btn-success" [disabled]="!registerForm.form.valid" />

  </form>
</div>
