<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto" *ngIf="identity">

      <li class="nav-item">
        <a class="nav-link" href="/home">
          Inicio
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Solicitudes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/nuevaSolicitud']" [routerLinkActive]="['active']">Nueva Solicitud</a>
          <a class="dropdown-item" [routerLink]="['/verSolicitudes']" [routerLinkActive]="['active']">Ver Solicitudes</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/home">
          Horarios
        </a>
      </li>

    </ul>


    <ul class="nav navbar-nav ml-auto" *ngIf="!identity">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">
          Iniciar Sesion
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">
          Registrarse
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto" *ngIf="identity">
      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{identity.nombre}} {{identity.apellido}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver Perfil</a>
          <a class="dropdown-item" href="#">Modificar Perfil</a>
          <a class="dropdown-item" href="#">Enviar Sugerencia</a>
          <a class="dropdown-item" href="#">Cerrar Sesión</a>
        </div>
      </li>
    </ul>



  </div>
</nav>

<router-outlet></router-outlet>
