<div class="col-lg-6 container">
  <h1 class="text-center my-3">{{title}}</h1>

  <div class="card my-5">
    <div class="card-header">
      <h3>Crear nueva ubicación</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button class="btn btn-primary float-right">Nuevo Local</button>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-header">
      <h3>Crear nuevo local</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button class="btn btn-primary float-right">Nuevo Local</button>
    </div>
  </div>

</div>
